<html>
<head>
 <title>INFO 257 Workshop Form</title>
 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
 <br>
 
 <form method="POST" action="/customers">

   <div class="form-group">
     <input type="submit" value="List Customers" />
   </div>
 </form>
 
 <br>
 
 <form method="POST" action="/destinations">
    <!-- Update -->
   <div class="form-group">
     <input type="submit" value="List Destinations" />
   </div>
 </form>


<br>
<form method="GET" action="/user-profile">
  <label for="search">User ID: </label>
  <input id="search" name="search" class="form-control" type="text" /><br />
</form>

 <br>
 
 
</body>

</html>

