<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href = "../static/styles/bootstrap.min.css">
    <link rel='stylesheet' href = "../static/styles/test.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Oswald&display=swap" rel="stylesheet">

    <title>Hello, world!</title>

        <style> 
        /* Modify the background color */ 

        .navbar-custom { 
            background-color: #E50914; 
        } 
          
    </style> 





  </head>
  <body>

    <div class = 'wrapper .bg-cover'>
      <nav class="navbar navbar-expand-sm navbar-custom">
        <a class="navbar-brand" href="/">Netflix4Travel</a>
      <!-- Links -->

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>

      </nav>      
      <div class="container-fluid py-5">
        <header>
        <h1 id = "recommendation-loc">{{ recommended_loc }}</h1>
        <p id = "match-text">95% Match</p>
        </header>
      </div>

      <div class="container-fluid recommendation-block-text">
        <p>Text Description about the chosen location...
        but this is going on and on</p>
      </div>


      </div>
    </div>

  </body>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


  
</html>