<html>
<head><title>User Selection</title>


	<link href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Oswald&display=swap" rel="stylesheet">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user_selection.css') }}">

</head>

<style>
      body {
      height: 100%;
      width: 100%;
      margin:0;
      background-image: url('../../static/Front.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding:0;
    }

</style>


<body>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 location"> 
    	<h1> Reed, choose 3 you like. <br> It will help us find destinations you’ll love. </h1>
		<a href="/user_selection" class = "btn btn-primary btn-lg">Continue >>></a>

		<div class="row">
	        <div class="col-md-4 location">
	          <h2>{{ locations[0].location_name }}</h2>
	          <img src="../static/SF Photo.jpg">

	        </div>
	        <div class="col-md-4 location">
	          <h2>{{ locations[1].location_name }}</h2>
	          <img src="../static/SF Photo.jpg">

	       </div>
	        <div class="col-md-4 location">
	          <h2>{{ locations[2].location_name }}</h2>
	          <img src="../static/SF Photo.jpg">

	        </div>
	      </div>

		<div class="row">
	        <div class="col-md-4 location">
	          <h2> {{locations[3].location_name }}</h2>
	          <img src="../static/SF Photo.jpg">

	        </div>
	        <div class="col-md-4 location">
	          <h2> {{locations[4].location_name}} </h2>
	          <img src="../static/SF Photo.jpg">

	       </div>
	        <div class="col-md-4 location">
	          <h2> {{locations[5].location_name}} </h2>
	          <img src="../static/SF Photo.jpg">

	        </div>
	    </div>
	</div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>



</body>
</html>