html, 

    .wrapper {
        min-height: 100vh;
        margin:0;
        background-image: url('../../static/Front.png');
        background-size: cover;
        padding:0;
    }

    #custom-header{
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 100px;
        margin: 0px;
    }

    #custom-flavor-text{
        color: white;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 50px;
    }

    .navbar-text {
    color: black;
   }

    .navbar-brand 
    {
      font-family: 'Lobster', cursive;
      color: black;
      margin: 0px;
    }

    .nav-link {
        font-weight: bold;
        color: black;
    }

    #btn-custom { 
        background-color: #E50914;
        border: none; 
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
    }

