html, 

    header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
    }

    header .header-content .header-content-inner h1 {
        color: #E50914;
        font-family: 'Lobster', cursive;
        font-size: 100px;
    }

    header .header-content .header-content-inner p {
        color: white;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 50px;
    }

    body h1 {
        color: black;
        text-align: left;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 40px;    
    }

    body div .location {
        background-color: white;
        height: 300px;
    }

    body img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid #E50914;
        border-radius: 25px;
    }

    img:hover {
     border-color: white;
    }   

    div .location h2 {
        color: white;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 15px;

    }

    .btn {
        border-radius: 300px;
        text-transform: uppercase;

    }

    .btn-primary {
        border-color: #E50914; 
        color: white;
        background-color: #E50914;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 15px;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;

    }

    .btn-lg {
        padding: 15px 30px;
    }

